<template name="serviceAccountSidebarLogin">
	<div class="rc-popover__column">
		<ul class="rc-popover__list">
			{{#if loading}}
				<p>Loading ... </p>
			{{else}}
				{{#if showOwnerAccountLink}}
					<p>Go back to main account</p>
					<li class='rc-service-account-list__user js-login'>
						{{> avatar username=owner.username}}
						<div class="rc-service-account-list__username">
							{{owner.username}}
						</div>
					</li>
				{{else}}
					{{#if hasServiceAccounts}}
						{{#each users}}
							<li class='rc-service-account-list__user js-login'>
								{{> avatar username=username}}
								<div class="rc-service-account-list__username">
									{{#if receivedNewMessage username}}
										<span class="rc-service-account-list__username-alert">
											{{username}}
										</span>
									{{else}}
										{{username}}
									{{/if}}
								</div>
								<div class="badge">
									{{unread}}
								</div>
							</li>
						{{/each}}
					{{else}}
						<p>{{_ "You_have_no_service_accounts"}}</p>
					{{/if}}
				{{/if}}
			{{/if}}
		</ul>
	</div>
</template>
