.rc-service-account-list {
	&__user {

		display: flex;

		padding: 8px 0;

		cursor: pointer;
		align-items: center;

		&.active,
		&:hover {
			background-color: #eeeeee;

			& .rc-member-list__menu {
				opacity: 1;
			}
		}

		& > .avatar {
			width: var(--sidebar-account-thumb-size);
			height: var(--sidebar-account-thumb-size);
		}
	}

	&__username {
		display: flex;
		flex: 1 1 auto;

		margin: 0 12px 0 8px;

		font-size: 16px;
		align-items: center;
	}

	&__username-alert {
		font-weight: bold;
	}
}

.service-account-notification {
	color: var(--rc-color-alert-message-primary-background);
}
